@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --body-bg-color: #faf5ff;
  --sidebar-bg-color: #f3ddeb;
  --text-color: #090909;
  --title-color: #892f66;
  --date-color: #9c3575;

  /*dark-body-bg-color*/
  --dark-body-bg-color: #0b0b0b;
  --dark-sidebar-bg-color: #140821;
  --dark-text-color: #f6f3f3;
  --dark-title-color: #61c17e;
  --dark-date-color: #3debde;

  --icon-color: var(--text-color);
  --circle-color: #9c5e8b;
  --circle-color-plain: #a8e5ba;

  --dark-icon-color: var(--text-color);
  --dark-circle-color: #da73dd;
  --dark-circle-color-plain: #4bf07c;

  /*fonts*/
  --body-font: "Alice", serif;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1 3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /*helpers*/
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);
  font-weight: 200;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

.dark {
  background-color: var(--dark-body-bg-color);
  color: var(--dark-text-color);
}

h1,
h2,
h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--dark-title-color);
}
h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: var(--spacing-2);
}

ul {
  padding: 1.3rem;
}
.skills ul {
  padding: 0 1.3rem 1.3rem 1.3rem;
}

li {
  margin-bottom: var(--spacing-2);
}

.mb3 {
  margin-bottom: var(--spacing-3);
}

.mb5 {
  margin-bottom: var(--spacing-5);
}

.grid__row {
  margin-bottom: var(--spacing-3);
}

@media screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .grid__row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }
}

.sidebar {
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
}

.actions {
  display: flex;
  justify-content: space-between;
}

.dark .sidebar {
  background-color: var(--dark-sidebar-bg-color);
}

.main {
  padding: 1.5rem;
}
