@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@100;200;300;400;500");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --body-bg-color: #ffff;
  --sidebar-bg-color: #e183ef;
  --text-color: #090909;
  --title-color: #5d5b5b;
  --date-color: #7c3d6a;

  /*dark-body-bg-color*/

  --icon-color: var(--text-color);
  --circle-color: #9c5e8b;
  --circle-color-plain: #540843;

  /*fonts*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.7rem;
  --h2-font-size: 1 3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /*helpers*/
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);
  font-weight: 200;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: var(--spacing-2);
}

ul {
  padding: 1.3rem;
}

li {
  margin-bottom: var(--spacing-2);
}

@media screen and (min-width: 768px) {
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.sidebar {
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
}

.main {
  padding: 1.5rem;
}
